#back-home-header {
    width: 100%;
    background-color: #e9203d;
    color: #fff;
    padding: 15px 10px;
    text-align: center;
    position: relative;
}
#back-home-header h1 {
    display: inline;
    font-size: 16px;
    line-height: 1;
}

#back-home-header .back-icon {
    width: 16px;
    height: 16px;
    position: absolute;
    left: 20px;
}
