#user-card {
    width: 98%;
    height: 80px;
    margin: 5px 5px;
    border-bottom: 1px solid #e2e6ea;

    img {
        width: 70px;
        height: 70px;
        border: 1px solid #b9bbbe;
    }

    p{
        margin-top:15px;
        font-size:20px;
    }

    button{
        color: red;
        border: 1px solid rgb(233, 32, 61);
        border-radius: 5px;
        font-size: 16px;
        padding: 4px 8px;
        margin:15px 2%;
    }


}
