input .search-input {
    font-size: 14px !important;
    font-weight: normal;
    /*width: 300%;*/
    /*margin-left:10%;*/
    outline:medium;
    border-radius: 10px;
    color: #333 !important;
}

.btn-search{
    margin-left:5px;
}

