input.search-input {
    font-size: 14px !important;
    font-weight: normal;
    border: 0;
    width: 300%;
    /*margin-left:10%;*/
    color: #333 !important;
}

.btn-search{
    margin-left:5px;
}

