#user-detail {
    padding: 10px 10px 40px;
    border-top: 1px solid #cccccc;
    background-color: white;
}

.title {
    margin-left: 30px;
}

.no {
    margin-left: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-bottom: 1px solid #d3d9df;
}
