.list-item {
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #f1f1f1;
}

.item-img-container {
    width: 120px;
    height: 90px;
}

.item-content {
    margin-left: 100px;
    padding-left: 30px;
}

.item-title-container {
    height: 25px;
}

