.comment-item {
    border-bottom: 1px solid #d3d9df;
    padding: 2px 5px;
    margin: 5px 10px;
}

.comment-item h3 {
    font-size: 18px;
    line-height: 1.5;
    color: #666;
    margin-top: 5px;
    margin-bottom: 15px;
}

.comment-item p {
    color: #999;
    line-height: 1.5;
    margin: 10px 0;
}
